body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #034564d8, #011e2bd8);
  color: rgb(0, 0, 0);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.topo {
  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 32px;
}

.pix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #f7f8f9d8;
  border-radius: 12px;
  margin: 20px;
  color: rgb(0, 10, 10);
}

.pix img {
  width: 150px;
}

.lista {
  padding: 20px;
  color:rgb(0, 5, 5)
}

.lista h2 {
  margin-bottom: 20px;
}

.aluno {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  background:#fbfdfdd8;
  border-radius: #f2f6f8d8;
  color:rgb(0, 0, 0)
  transition: 0.3s;
}

.aluno:hover {
  background: rgba(0, 0, 0, 0.1);
}

.aluno span {
  font-weight: bold;
  color:rgb(0, 0, 0)
}

.pago span {
  color: #016b03;
}

.nao span {
  color: #0c0c0c;
}

.total {
  text-align: center;
  padding: 50px;
  background-color: #011e2bd8;
  color:azure
}

#total {
  font-size: 48px;
  color: #f4f8f6;
  font-weight: bold;
}
